.header {
  padding: 30px 148px;
}

.defaultHeader {
  height: 640px;
  width: 100%;
  background: center / contain no-repeat url("../../assets/img/homeBg.png");
}

.aboutHeader {
  height: 260px;
  background: center / contain no-repeat url("../../assets/img/aboutBg.png");
}

.pleasureHeader {
  height: 260px;
  background: center / contain no-repeat url("../../assets/img/pleasureBg.png");
}

.main {
  display: block;
  text-align: center;
  width: 1440px;
  
}

.main-header {
  margin-top: 9%;
}

button {
  width: 120px;
}
