.contentProducts {
  background-color: white;
  border-radius: 8px;
  border: none;
  box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.25);
  padding: 10px;
  width: 220px;
  height: 260px;
}

.contentText {
  margin-top: 40px;
  font-size: 14px;
}
.contentCountry {
  margin-top: 20px;
  font-size: 14px;
}

.contentPrice {
  margin-right: 20px;
  font-size: 14px;
  text-align: right;
}

.containerDiscriptionProducts {
  display: flex;
  margin: 0 auto;
  gap: 71px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 900px;
}
